/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* Layout */

main {
  min-width: 1000px;
  max-width: 1400px;
  margin: auto;
}

section {
  float: left;
  width: 50%;
}

article {
  float: left;
  width: 80%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

.cornerdecoration {
  float: right;
  width: 50%;
}

.cornerdecoration img {
  width: 100%;
}

footer {
  clear: both;
}

header, main, section, aside, nav, footer {
  padding: 20px;
}

/* backgrounds */

body {
  background-color: snow;
}

/* header and footer */

header, footer {
  border-top: 5px solid teal;
  border-bottom: 5px solid teal;
  background-image: url(images/wallpaper-color.png);  
  background-size: 100% auto;
}

/* font imports */

@font-face {
    font-family: 'risingsun';
    src: url('fonts/risingsun-regular-webfont.woff2') format('woff2'),
         url('fonts/risingsun-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster';
    src: url('fonts/lobster-webfont.woff2') format('woff2'),
         url('fonts/lobster-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courier';
    src: url('fonts/couriercode-roman-webfont.woff2') format('woff2'),
         url('fonts/couriercode-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* typography */

html {
  font-family: risingsun, serif;
  font-size: 10px;
}

h1, h2 {
  font-family: lobster, sans-serif;
  letter-spacing: 2px;
}

h3 {
  font-family: courier, serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

header h1 {
  background-color: snow;
  border: 3px solid teal;
  padding-bottom: 4px;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.5px;
}

section h2 + p {
  text-indent: 20px;
}

.indentedparagraph {
  text-indent: 0;
  padding-left: 20px;
}
  
p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

/* link styling */

a {
  outline: none;
}

a[href*="http"] {
  padding-right: 19px;
  background: url(images/link.png) no-repeat 100% 0;
  background-size: 16px 16px;
}
/*NO
a[href*="download"] {
  padding-right: 19px;
  background: url(images/download.png) no-repeat 100% 0;
  background-size: 16px 16px;
}
*/
a:link, a:visited {
  color: teal;
}

a:focus, a:hover {
  text-decoration: none;
}

a:active {
  color: white;
  background: black;
}

/* lists */

ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

/* nav menu */

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid teal;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: teal;
}

nav li a:active {
  color: white;
  background: black;
}
