/* Motherf*cking font faces */

@font-face {
    font-family: 'risingsun';
    src: url('fonts/risingsun-regular-webfont.woff2') format('woff2'),
         url('fonts/risingsun-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster';
    src: url('fonts/lobster-webfont.woff2') format('woff2'),
         url('fonts/lobster-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'courier';
    src: url('fonts/couriercode-roman-webfont.woff2') format('woff2'),
         url('fonts/couriercode-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
} 

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid teal;
  border-bottom: 5px solid teal;
}

/* Typography */

html {
  font-size: 10px;
  font-family: 'risingsun', sans-serif;
}

h1, h2 {
  font-family: 'lobster', serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

section h2 + p {
  text-indent: 20px;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

/* Link styling */

a {
  outline: none;
}

a[href*="http"] {
  background: url('link.png') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

a:link, a:visited {
  color: teal;
}

a:focus, a:hover {
  text-decoration: none;
  background: #ddffff;
}

a:active {
  background: teal;
  color: #ddffff;
}

/* List styling*/

ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: none;
}

.fleur li:before {
  content: '\2767';
  padding-right: 1rem;
  color: teal;
}

ol {
  list-style-type: lower-greek;
}

 /* Nav menu*/
 
 nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}
 
nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}
 
nav li a {
  text-decoration: none;
  font-family: 'courier', serif;
  font-size: 2.5rem;
  width: 100%;
  line-height: 3;
  text-align: center;
  border: 1px solid teal;
}

nav li a:focus, nav li a:hover {
  background: #ddffff;
}

nav li a:active {
  color: #ddffff;
  background: teal;
}
